@import '../../App.scss';


.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  img {
    width: 50vh;
    height: 25vh;
    margin-bottom: auto;
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient( to right,transparent, black 0%, black 60%, transparent 100%);
    
    @media screen and (max-width:500px) {
      width: 25vh;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    margin: 0vh 2vh;
    width: 100%;
    text-transform: capitalize;
    :hover{
      background-color: $secondaryColor;
      color: $textSecondary;
    }
  }
  a {
    color: $textPrimary;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10vh;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

    @media screen and (max-width:500px) {
      margin-left: -10vh;
      font-size: 4vh;
      width: fit-content;
    }
  }
}
