$primaryColor: #202020;
$primaryLightColor: #474747;
$primaryDarkColor: #000000;

$secondaryColor: #ffee32;
$secondaryLightColor: #ffff6c;
$secondaryDarkColor: #c8bc00;

$textPrimary:#ffffff;
$textSecondary:#000000;

.App {
  text-align: center;
  background-color: $primaryColor;
  color: $textPrimary;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

// home styles

.homeContainer, .listItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.homeContainer img {
  width: 50vh;
}

.homeContainer div, .listItemDiv {
  padding: 3vh;
  margin: 0vh 2vh;
  text-transform: capitalize;
  :hover{
    background-color: $secondaryColor;
    color: $textSecondary;
  }
}

.homeContainer a, .listItemDiv a {
  color: $textPrimary;
  align-items: center;
  font-weight: 600;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

.listItemDiv a{
  font-size: large;
  font-weight: 400;
  margin: 1vh 2vh;
}

img {
  width: 10vw;
}
